<header style="text-align: center;">
    <h1>Brennan J. Price</h1>
    <img src="img/pfp.jpg" alt="A picture of me" style="max-width: 25%;height: auto;"/>            <h4><a href="mailto:brennanjprice@lewisu.edu">brennanjprice@lewisu.edu</a></h4>
</header>

<table>
    <tr>
        <th>Sprint</th>
        <th>Assignments</th>
        <th>Links</th>
    </tr>

    <tr>
        <td><p>Sprint 01</p></td>
        <td><p>About Me Page (Traditional Method)</p></td>
        <td><p><a href="">Link</a></p></td>
    </tr>

    <tr>
        <td><p>Sprint 02</p></td>
        <td><p>Dice Roller</p>
            <p>Web Resume</p>
            <p>RegExp Tester</p></td>
        <td><p><a href="https://brave-stone-0c76ddd10.azurestaticapps.net/">Dice Roller</a></p>
            <p><a href="https://brave-dune-056fa9410.azurestaticapps.net/">Resume</a></p>
            <p><a href="https://orange-plant-0da617410.azurestaticapps.net/">Tester</a></p></td>
    </tr>

    <tr>
        <td><p>Sprint 03</p></td>
        <td>
            <p>About Me Page (Node.js)</p>
            <p>About Us Page</p>
            </td>
        <td>
            <p><a href="https://assignment-portfolio-node.azurewebsites.net/">Link</a></p>
            <p><a href="">Link</a></p>
            </td>
    </tr>

    <tr>
        <td><p>Sprint 04</p></td>
        <td><p></p></td>
        <td><p><a href="">Link</a></p></td>
    </tr>

    <tr>
        <td><p>Sprint 05</p></td>
        <td><p></p></td>
        <td><p><a href="">Link</a></p></td>
    </tr>

    <tr>
        <td><p>Sprint 06</p></td>
        <td><p></p></td>
        <td><p><a href="">Link</a></p></td>
    </tr>

    <tr>
        <td><p>Sprint 07</p></td>
        <td><p></p></td>
        <td><p><a href="">Link</a></p></td>
    </tr>

    <tr>
        <td><p>Sprint 08</p></td>
        <td><p></p></td>
        <td><p><a href="">Link</a></p></td>
    </tr>

</table>